<!DOCTYPE html>
<html>
<head>
<body>
<div class="sidemenu">
        <a href="#"><img src="home.png" alt="Home"></a>
        <a href="#"><img src="folder.png" alt="Folder"></a>
        <a href="#"><img src="plus.png" alt="Plus"></a>
        <a href="#"><img src="search.png" alt="Search"></a>
    </div>
</body>
</head>

<style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
    }

    .sidemenu {
        width: 30px;
        background-color: #5a5a5a;
        color: white;
        padding: 25px;
        height: 100vh;
        position: fixed;
        border-right: 1px solid black;
    }

    .sidemenu a {
        display: block;
        color: white;
        text-decoration: none;
        margin-bottom: 10px;
    }

</style>
</html>
